// File: assets/main.scss
// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables"

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb
// Add pink and its invert
$pink: #ffb3b3
$pink-invert: #fff
$vapor-purple: #b967ff
$vapor-green: #05ffa1

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $vapor-purple
$primary-invert: $pink-invert
// $button-focus-box-shadow-color: $vapor-green
// $button-focus-border-color: $vapor-green
// $button-focus-color: $vapor-green
// Use the existing orange as the danger color
$danger: $orange

// 4. Import the rest of Bulma
@import "~bulma/bulma"
@import "bulma-switch"
@import "bulma-pageloader"